* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-yellow: #ffda1e;
  --color-green: #17a67b;
  --color-blue: #00a6ff;
  --color-pink: #ff03f2;
  --color-red: #f80c3a;
}

@font-face {
  font-family: Portico;
  src: url("../fonts/Portico/Portico\ Regular.otf") format("opentype");
  font-weight: bold;
}



a {
  text-decoration: none;
}

body {
  background:#FCE875;
  background:#FCE875;
/*
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
*/
    
    overflow: hidden;
    position: absolute;
  width: 100%;
  height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*
.bg-body{
    width: 100vw;
}
*/

.header {
  height: 100px;
}

.header img {
  margin-top: 10px;
  margin-left: 10px;
  height: 90px;
  width: auto;
}

.aboutus a {
  color: #f80c3a;
}
.theme a {
  color: #d42252;
}
.events a {
  color: #be3061;
}
.proshows a {
  color: #ab3d6c;
}
.shield a {
  color: #97477b;
}
.syahi a {
  color: #7F578B;
}
.rules a {
  color: #68649a;
}
.parvaah a {
  color: #5471a8;
}
.sponsors a {
  color: #3b80b9;
}
.reachus a {
  color: #228fc9;
}

.homepage {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navbar{
    background: transparent;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar a{
     padding: 1rem;
}
.homepage__menu{
  font-family: Portico;
  font-weight: bold;
  width: 45vw;
  font-size: 2rem;
  line-height: 43px;
  padding-left: 6vw;
}

.homepage__title {
  display: inline;
  cursor: pointer;
    margin: 0 1rem;
}

.homepage__titles{
    display: flex;
    flex-direction: row;
}

.homepage__titles_white:hover{
  color: white;
}
.homepage__img {
  width: 55vw;
  position: relative;
}

.homepage__img img {
  width: 100%;
  height: auto;
}

.homepage__imgContainer {
  width: 35vw;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-15%, -50%);
}

.homepage__imgChange {
  transition: all 0.25s linear;
}

.socialmedia {
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
}

.socialmedia img {
  width: 40px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #home-logo {
    display: none;
  }
  .header {
    height: 42px;
  }

  .homepage {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: calc(100vh - 50px);
  }

  .homepage__img {
    width: 100vw;
    display: block;
    position: static;
  }

  .homepage__imgContainer {
    text-align: center;
    width: 80vw;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }

  .homepage__menu {
    width: 100vw;
    font-size: 32px;
/*    line-height: 26px;*/
  }

  .socialmedia {
    flex-direction: row;
  }

  .Reg_bro{
    height: 20vw;
    width: 30vw;
    background color: #ffffff;
  }

    
}
    

.floating {  
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*margin-left: 30px;*/
    /*margin-top: 5px;*/
}
    
.homepage__menu1{
/*        transform:translateY(-50%);*/
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%,250%);
    
    z-index: 999;
    }

a{
    font-family: Portico;
    color: #000!important;
}
#ballon-1{
    top: 150px;
    width: 20%!important;
    left: 300px;
}
.ballon{
    position: absolute;
/*    background: url('../images/2020/home/ballon.png')no-repatr;*/
    width: 50px;
    height: 50px;
}

#ballon-2{
    top:350px;
    right: 20px;
    width: 20%;
}

#ballon-3{
    bottom:280px;
    left:300px;
    
}


body#events{
    background: #90F5E1;
}
@keyframes floating {
    from { transform: translate(-50%,  -50%); }
    65%  { transform: translate(-50%, calc(-50% + 15px)); }
    to   { transform: translate(-50%, -50%); }    
}

