* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    overflow: auto ;
  }
  /*.carousel__textContainer {
    padding: 3vw;
    display: inline-block;
    width: 30vw;
  }*/
  
  .image_container img{
    display: inline-block;
    margin: 10% 35%;
    width: 30%;
    height: 20%;
   
  }
  .socialmedia {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
  }
  
  /*.carousel__container {*/
    /*display: flex;*/
    /*height: calc(100vh - 200px);*/
    /*overflow: auto;*/
    /*!* flex-direction: row-reverse; *!*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*align-content: center;*/
  /*}*/
  
  /*.carousel__carouselContainer {*/
    /*display: inline-block;*/
    /*width: 50vw;*/
    /*height: 100%;*/
    /*padding: 3vw;*/
  /*}*/
  
  /*.carousel__textContainer {*/
    /*padding: 3vw;*/
    /*display: inline-block;*/
    /*width: 30vw;*/
  /*}*/
  
  /*.carousel__carouselContainer img {*/
    /*height: 50vh;*/
  /*}*/
  
  /*.carousel__item{*/
    /*text-align: center;*/
    /**/
  /*}*/
  
  /*.owl-nav {*/
    /*transform: translateY(-30vh);*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*font-size: 40px;*/
    /*height: 0;*/
  /*}*/
  
  
  
  /*.header {*/
    /*height: 100px;*/
  /*}*/
  
  /*.header img {*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*height: 90px;*/
    /*width: auto;*/
  /*}*/
  
  /*/*.socialmedia {*/
    /*padding-left: 5vw;*/
    /*display: flex;*/
    /*flex-direction: column;*/
  /*}*/
  
  .socialmedia img {
    width: 40px;
    height: auto;
  }
  
  /*.demo-6{*/
      /*background: #FBC9DD;*/
  /*}*/
  
  /*.carousel__img img{*/
    /*width: 100%;*/
    /*height: auto;*/
  /*}*/
  
  /*.carousel__textImg img{*/
    /*width: 75%;*/
    /*margin: 0 12.5% 0 12.5%;*/
    /*height: auto;*/
  /*}*/
.content-title .content-title-white{
  /*color: #fff;*/
}
.content-box{
  padding: 30px 0;
  display: block;
  margin: 0 auto;
  width: 80%;

}
.content-title h3{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px;
}

.content-title-underline{
  width: 30px;
  height: 3px;
  margin: 0 auto 30px;
  background: darkred;
}
.team-members{

}

.team-member{
  /*margin: 0 15px;*/

}

.team-member-info{
  padding: 10px 0 30px 0;
  text-align: center;
}
h4.team-member-name{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 2px;
}

h4.team-member-desgination{
  color:darkred;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 5px;
  font-weight: 700;
}
#reach-us-page .socialmedia{
  /*display: none;*/
}


/*************************************************
               SOCIAL ICON LIST
*************************************************/

.social-list{
  padding: 0;
}
.social-list li{
  list-style: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
}
.social-icon i{
  font-size: 16px;
}
.icon-white{
  color: #fff;
}
.icon-gray{
  color: #64707B;
}
.icon-white:hover,
.icon-gray:hover{
  color: darkred;
}
footer{
    padding-left:50%;
}
  
  @media only screen and (max-width: 600px) {
    #dummy-member{
      display: none;
      visibility: hidden;
    }
    .carousel__container {
      display: flex;
      height: calc(100vh - 100px);
      overflow: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
  
    .carousel__carouselContainer {
      display: inline-block;
      width: 100vw;
    }
  
    .carousel__textContainer {
      display: inline-block;
      width: 100vw;
    }
    .owl-carousel .owl-item img {
      height: 30vh;
      width: 80%;
      margin: auto;
    }
  
    .owl-nav {
      transform: translateY(-20vh);
    }
    .header {
      height: 50px;
    }
  
    .header img {
      margin: 5px 0 0 5px;
      height: 45px;
      width: auto;
    }
  
    .carousel__carouselContainer {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
  
    .socialmedia {
      /*margin-top: 20%;*/
      /*flex-direction: row;*/
      display: none;
    }

    .carousel__carouselContainer{
      height: 50%;
    }
    .image_container img{
    display: inline-block;
    /*margin: 10% 35%;*/
    width: 100%;
    height: 100%;
   
  }
  }





/*#reach-us-address {
    max-width: 20vw;
}

.reach-us-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#map {
  width: 46vw;
}
*/



/*************************************************************************************
                                    2020 reach us
************************************************************************************/

#reachus img{
    padding: 5rem 0;
    width: 20%;
}

#reachus .reachus-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
