@font-face {
  font-family: Lato;
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Portico;
  src: url('../fonts/Portico/Portico Light.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: Portico;
  src: url('../fonts/Portico/Portico Regular.otf') format('opentype');
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6
{
font-family: Portico;
}
#nahi {
font-family: Lato;
}
#back-6
{
background-image: url("https://media.giphy.com/media/l0HU78eNZy6KWSvjW/giphy.gif");
}
#back-7
{
background-image: url("https://media.giphy.com/media/l0HU78eNZy6KWSvjW/giphy.gif");
}
#back-8
{
background-image: url("https://media.giphy.com/media/3o752fp1Lg1ExDkgHC/giphy.gif");
}
#back-9
{
background-image: url("https://media.giphy.com/media/l49JTQoW1pRbwtCko/giphy.gif");
}
#back-10
{
background-image: url("https://media.giphy.com/media/3o752mIsPqa29pFZqo/giphy.gif");
}
.eventtitle
{
font-family: Lato;
}
.bottom
{
height: 10px;
width: 100%;
}
.card
{
backface-visibility: hidden;
border-radius: 6px;
-webkit-transition: 0.3s -webkit-box-shadow ease;
transition: 0.3s -webkit-box-shadow ease;
-o-transition: 0.3s box-shadow ease;
transition: 0.3s box-shadow ease;
transition: 0.3s box-shadow ease, 0.3s -webkit-box-shadow ease;
/* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);  */
}
.card:hover {
/* -webkit-box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
        /* box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
}

/* boring stuff ie. content*/
* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html,body
{
height: 100vh;
width: 100vw;
overflow-x: hidden;
overflow-y: hidden;
}

html, body {
margin: 0;
}

body {
font-family: 'Helvetica', sans-serif;
background-color: #e7e7e7;
/* color: #FFF; */
/*padding: 30px 0;*/
font-weight: 300;
}

body {
font-family: Lato;
background-color: #EDFFBA;
}

.eventcontainer {
margin:auto;
padding-top: 40px;
/* padding-bottom: calc(20vh - 60px); */
display: block;
max-width: 1000px;
height: calc(100vh - 70px);
padding-left: 20px;
padding-right: 20px;
}

.eventsbg {
width: 100vw;
/* background: url("../images/2019/shield\ pc.png"); */
background-attachment: fixed;
background-position: left ;
background-repeat: no-repeat ;
background-size: cover ;
}

/*.eventcontainer > *:not(.tab-wrap) {
padding: 0 80px;
}*/

.eventtitle
{
margin: 5px;
backface-visibility: hidden;
}
.eventheading
{
display: none;
width: 100%;
font-size: 1.2em;
text-align: center;
font-weight: 600;
}
@media screen and (max-width: 650px){
.eventheading
{
  display: block;
}
}
.tab__content
{
max-height: 70vh;
overflow: auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-pack: distribute;
    justify-content: space-around;
/*align-content: center;*/
}

a {
text-decoration: none;
color: #FFF;
}

.container {
position: relative;
/*margin: 35px auto 0;*/
/*width: 300px;*/
/*height: 534px;*/
/*  background: -webkit-gradient(linear, left top, right top, from(#EDFFBA) , to(#7B295C));
background: -webkit-linear-gradient(left, #EDFFBA , #7B295C);
background: -o-linear-gradient(left, #EDFFBA , #7B295C);
background: linear-gradient(to right, #EDFFBA , #7B295C);*/
background: #EDFFBA;
overflow: hidden;
height: 100vh;
}
.container
{
/*    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);*/
}
label:before {
font-family: fontawesome;
font-weight: normal;
margin-right: 10px;
}

label[for*='1']:before {
content: '\f11b';
}

label[for*='2']:before {
content: '\f0d0';
}

label[for*='3']:before {
content: '\f11e';
}

label[for*='4']:before {
content: '\f05a';
}

label[for*='5']:before {
content: '\f1fc';
}

@media screen and (max-width: 650px) {
label {
  font-size: 0;
}
label:before {
  margin: 0;
  font-size: 18px;
}
}
#navlogo
{
position: absolute;
top: 0px;
right: 0px;
}
@media only screen and (max-width: 500px)
{
#navlogo
{
  top:9px;
}
#navlogo img
{
  width: 150px;
  height: auto;
}
}
.card-container
{
cursor: pointer;
-webkit-perspective: 600;
        perspective: 600;
position: relative;
}
.card-container
{
/*background: #422446;*/
width: 30%;
/*height: 100%;*/
/*padding-top: 30%;*/
margin: 10px auto;
border-radius: 6px;
}
.card-container>img
{
width: 100%;
height: auto;
visibility: hidden;
}
.card-container>h4
{
/* visibility: hidden; */
}

.card img
{
width: 100%;
height: auto;
}
@media only screen and (max-width:1100px)
{
.card-container
{
  width: 40%;
}
}
.card
{
top: 0px;
left: 0px;
position: absolute;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
height: 100%;
width: 100%;
border-radius: 6px;
}
/* .card-container:not(.nothover):hover .card{
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
} */
.card .side {
border-radius: 6px;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
position: absolute;
/*overflow: hidden;*/
height: 100%;
width: 100%;
}
.card .back {
border-radius: 6px;
background: transparent;
color: #0087cc;
line-height: 150px;
text-align: center;
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
background-image: url("https://media.giphy.com/media/3oxHQF1VVgH16wLmxy/giphy.gif");
/*background-attachment: fixed;*/
background-position: center ;
background-repeat: no-repeat ;
background-size: cover ;
}
#back-1
{
background-image: url("https://media.giphy.com/media/l0CLTArWi294NNu9i/giphy.gif");
}
#back-3
{
background-image: url("https://media.giphy.com/media/3o6fJ8L44klwKFkSek/giphy.gif");
}
#back-4
{
background-image: url("https://media.giphy.com/media/xUOxf7YSKQwK9ztvws/giphy.gif");
}
#back-5
{
background-image: url("https://media.giphy.com/media/3oxHQF1VVgH16wLmxy/giphy.gif");
}
#back-2
{
background-image: url("https://media.giphy.com/media/l49JC9lvDlzawtAT6/giphy.gif");
}
.tab-wrap
{
background: #EDFFBA !important;
}
.tab__content
{
/* background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2)));
background:-webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
background:-o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)); */
}

/*=====================================================================*/

/*scroll bars*/
.tab__content::-webkit-scrollbar-track
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px #FFF;
  background-color: #FFF;
}

.tab__content::-webkit-scrollbar
{
  height: 10px;
  width: 10px;
  background-color: #FFF;
}

.tab__content::-webkit-scrollbar-thumb
{
  background-color: #F8143C;
  border-radius: 5px;
}
/*=====================================================================*/

/*codepen tabs https://codepen.io/fusco/pen/Wvzjrm*/
.tab-wrap {
/* -webkit-transition: 0.3s -webkit-box-shadow ease;
transition: 0.3s -webkit-box-shadow ease;
-o-transition: 0.3s box-shadow ease;
transition: 0.3s box-shadow ease;
transition: 0.3s box-shadow ease, 0.3s -webkit-box-shadow ease; */
border-radius: 6px;
max-width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
position: relative;
list-style: none;
background-color: #fff;
/*margin: 40px 0;*/
/* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.tab-wrap:hover {
/* -webkit-box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
        /* box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
}

.tab {
display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
opacity: 1;
/* -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
-o-transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease; */
position: relative;
top: 0;
z-index: 100;
-webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    transform: translateY(0px);
text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
opacity: 1;
/* -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
-o-transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease; */
position: relative;
top: 0;
z-index: 100;
-webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    transform: translateY(0px);
text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
opacity: 1;
/* -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
-o-transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease; */
position: relative;
top: 0;
z-index: 100;
-webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    transform: translateY(0px);
text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
opacity: 1;
/* -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
-o-transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease; */
position: relative;
top: 0;
z-index: 100;
-webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    transform: translateY(0px);
text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
opacity: 1;
/* -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
-o-transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease;
transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease; */
position: relative;
top: 0;
z-index: 100;
-webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    transform: translateY(0px);
text-shadow: 0 0 0;
}

.tab:first-of-type:not(:last-of-type) + label {
  margin-bottom: 20px;
/* border-top-right-radius: 0; */
/* border-bottom-right-radius: 0; */
}

.tab:not(:first-of-type):not(:last-of-type) + label {
/* border-radius: 0; */
}

.tab:last-of-type:not(:first-of-type) + label {
/* border-top-left-radius: 0;
border-bottom-left-radius: 0; */
}

.tab:checked + label {
/* background-color: #fff;
-webkit-box-shadow: 0 -1px 0 #fff inset;
        box-shadow: 0 -1px 0 #fff inset;
cursor: default; */
}

.tab:checked + label:hover {
/* -webkit-box-shadow: 0 -1px 0 #fff inset;
        box-shadow: 0 -1px 0 #fff inset; */
/* background-color: #fff; */
}

.tab + label {
-webkit-box-shadow: 0 -1px 0 #EDFFBA inset;
        box-shadow: 0 -1px 0 #EDFFBA inset;
border-radius: 6px 6px 0 0;
cursor: pointer;
display: block;
text-decoration: none;
color: #333;
-webkit-box-flex: 3;
    -ms-flex-positive: 3;
        flex-grow: 3;
text-align: center;
background-color: #f2f2f2;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
text-align: center;
/* -webkit-transition: 0.3s background-color ease, 0.3s -webkit-box-shadow ease;
transition: 0.3s background-color ease, 0.3s -webkit-box-shadow ease;
-o-transition: 0.3s background-color ease, 0.3s box-shadow ease;
transition: 0.3s background-color ease, 0.3s box-shadow ease;
transition: 0.3s background-color ease, 0.3s box-shadow ease, 0.3s -webkit-box-shadow ease; */
height: 50px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
padding: 15px;
}

.tab__content {
padding: 10px 25px;
background-color: transparent;
position: absolute;
width: 100%;
z-index: -1;
opacity: 0;
left: 0;
-webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
    transform: translateY(-3px);
/*border-radius: 6px;*/
}

/*=====================================================================*/


/* Toggle functionality https://codepen.io/lmgonzalves/pen/KaWaJO*/
#toggle {
position: absolute;
left: -100%;
top: -100%;
}

#toggle:focus ~ .toggle-container .button-toggle {
-webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle {
-webkit-box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:hover {
-webkit-box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:before {
-webkit-transform: translateY(-50%) rotate(45deg) scale(1);
    -ms-transform: translateY(-50%) rotate(45deg) scale(1);
        transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
-webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
    -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
        transform: translateY(-50%) rotate(-45deg) scale(1);
}
#toggle:checked:focus ~ .toggle-container .button-toggle {
-webkit-box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .nav {
margin-bottom: 100px;
pointer-events: auto;
-webkit-transform: translate(50px, 50px);
    -ms-transform: translate(50px, 50px);
        transform: translate(50px, 50px);
}
#toggle:checked ~ .nav .nav-item {
color: #FB9C70;
letter-spacing: 0;
height: 40px;
line-height: 40px;
margin-top: 0;
opacity: 1;
-webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
        transform: scaleY(1);
-webkit-transition: 0.5s, opacity 0.1s;
-o-transition: 0.5s, opacity 0.1s;
transition: 0.5s, opacity 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1) {
-webkit-transition-delay: 0.15s;
     -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1):before {
-webkit-transition-delay: 0.15s;
     -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2) {
-webkit-transition-delay: 0.1s;
     -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2):before {
-webkit-transition-delay: 0.1s;
     -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3) {
-webkit-transition-delay: 0.05s;
     -o-transition-delay: 0.05s;
        transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3):before {
-webkit-transition-delay: 0.05s;
     -o-transition-delay: 0.05s;
        transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4) {
-webkit-transition-delay: 0s;
     -o-transition-delay: 0s;
        transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4):before {
-webkit-transition-delay: 0s;
     -o-transition-delay: 0s;
        transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:before {
opacity: 0;
}
#toggle:checked ~ .dummy-content {
padding-top: 30px;
}
#toggle:checked ~ .dummy-content:before {
background-color: rgba(0, 0, 0, 0.3);
}


/*=====================================================================*/

/* Toggle button */
.button-toggle {
position: absolute;
display: inline-block;
width: 20px;
height: 20px;
margin: 25px;
background-color: transparent;
border: none;
cursor: pointer;
border-radius: 100%;
-webkit-transition: 0.6s;
-o-transition: 0.6s;
transition: 0.6s;
}
.button-toggle:hover {
-webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
.button-toggle:before, .button-toggle:after {
position: absolute;
content: '';
top: 50%;
left: 0;
width: 100%;
height: 2px;
background-color: #FB9C70;
border-radius: 5px;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}
.button-toggle:before {
-webkit-transform: translateY(-50%) rotate(45deg) scale(0);
    -ms-transform: translateY(-50%) rotate(45deg) scale(0);
        transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
-webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
    -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
        transform: translateY(-50%) rotate(-45deg) scale(0);
}


/*=====================================================================*/

/* Menu */
.nav {
display: inline-block;
margin: 25px 25px 20px;
pointer-events: none;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

.nav-item {
position: relative;
display: inline-block;
float: left;
clear: both;
color: transparent;
font-size: 14px;
letter-spacing: -6.2px;
height: 7px;
line-height: 7px;
text-transform: uppercase;
white-space: nowrap;
-webkit-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
        transform: scaleY(0.2);
-webkit-transition: 0.5s, opacity 1s;
-o-transition: 0.5s, opacity 1s;
transition: 0.5s, opacity 1s;
}
.nav-item:nth-child(1) {
-webkit-transition-delay: 0s;
     -o-transition-delay: 0s;
        transition-delay: 0s;
}
.nav-item:nth-child(1):before {
-webkit-transition-delay: 0s;
     -o-transition-delay: 0s;
        transition-delay: 0s;
}
.nav-item:nth-child(2) {
-webkit-transition-delay: 0.05s;
     -o-transition-delay: 0.05s;
        transition-delay: 0.05s;
}
.nav-item:nth-child(2):before {
-webkit-transition-delay: 0.05s;
     -o-transition-delay: 0.05s;
        transition-delay: 0.05s;
}
.nav-item:nth-child(3) {
-webkit-transition-delay: 0.1s;
     -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
}
.nav-item:nth-child(3):before {
-webkit-transition-delay: 0.1s;
     -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
}
.nav-item:nth-child(4) {
-webkit-transition-delay: 0.15s;
     -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
}
.nav-item:nth-child(4):before {
-webkit-transition-delay: 0.15s;
     -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
}
.nav-item:nth-child(1) {
letter-spacing: -8px;
}
.nav-item:nth-child(2) {
letter-spacing: -7px;
}
.nav-item:nth-child(n + 4) {
letter-spacing: -8px;
margin-top: -7px;
opacity: 0;
}
.nav-item:before {
position: absolute;
content: '';
top: 50%;
left: 0;
width: 100%;
height: 2px;
background-color: #FB9C70;
-webkit-transform: translateY(-50%) scaleY(5);
    -ms-transform: translateY(-50%) scaleY(5);
        transform: translateY(-50%) scaleY(5);
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}
label
{
font-variant: small-caps;
color: #F80C3A !important;
background: #EDFFBA !important;
}

.tab:checked + label {
background-color: #F80C3A !important;
color: #fff !important;
-webkit-box-shadow: 0 -1px 0 #EDFFBA inset;
        box-shadow: 0 -1px 0 #EDFFBA inset;
cursor: default;
}

.tab:checked + label:hover {
/* -webkit-box-shadow: 0 -1px 0 #EDFFBA inset; */
        /* box-shadow: 0 -1px 0 #EDFFBA inset; */
/* background-color: #EDFFBA !important; */
/* color: #fff !important; */
}

.tab + label:hover {
background-color: #F80C3A !important;
color: #FFF !important;
/*  -webkit-box-shadow: 0 1px 0 #EDFFBA inset;
        box-shadow: 0 1px 0 #EDFFBA inset;*/
}

.card img{
position: absolute;
}

.card:hover img:nth-of-type(1){
opacity: 0;
}
.card:hover img:nth-of-type(2){
opacity: 1;
}
.card img:nth-of-type(2){
opacity: 0;
}

.card .eventtitle{
display: none;
}

.eventtitle{
color: #F80C3A;
}

.header {
height: 100px;
}

.header img {
margin-top: 10px;
margin-left: 10px;
height: 90px;
width: auto;
}

.socialmedia {
padding-left: 5vw;
display: flex;
flex-direction: column;
}

.socialmedia img {
width: 40px;
height: auto;
}
.eventsbg{
height: calc(100vh - 200px);
}

.tab__content{
color: #F80C3A;
}

.tab-wrap > label{
border-radius: 25px;
}

@media only screen and (max-width: 600px) {

.header {
  height: 50px;
}

.header img {
  margin: 5px 0 0 5px;
  height: 45px;
  width: auto;
}

.socialmedia {
  flex-direction: row;
}

.eventsbg{
  height: calc(100vh - 100px)
}
}

.tab__content{
  color: #000;
}

.tab__content h2{
  text-transform: uppercase;;
}

.doughnutSummaryTitle{
  color: #000;
}

.doughnutSummaryNumber{
  color: #000;
}

.card{
  pointer-events: none;
}