 
 html, body{
  height: 100vh;
  overflow: hidden!important;
}
.proshows {
  flex-direction: column!important;
  overflow: hidden!important;
}
.pro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-controls {
  min-width: 25vw;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flipster--loop 
  
 .flipster__item { 
    position: absolute;
  }

.header {
    height: 70px;
    overflow: visible;
}
  ::-webkit-scrollbar { 
    display: none; 
}

  .proshowcar img{
    height: 350px;
    width: 350px;
  }

  .proshowcar h1{
    font-size: 80px;
    color: #f21840 ;
    text-align: center;

  }
  .proshowcar h4{
    font-size: 30px;
    color: black;
    text-align: center;
  }

  .but_div img{
  width:12%;
  height:12%;
margin-top: 50px;
  margin-left: auto;
margin-right: auto;
display: block;
overflow: visible; 
  }

  .socialmedia {
    margin-top: 0px;
    padding-top: 0px;
  }



/*  .flipster__item--past { transform: translateX(-100%); }
  .flipster__item--future { transform: translateX(100%); }*/
  
 .flipster--loop  .flipster__item--past-2 { transform: translateX(-100%); }
  .flipster--loop .flipster__item--future-2 { transform: translateX(100%); }
   .flipster--loop  .flipster__item--past-1 { transform: translateX(-50%); }
 .flipster--loop .flipster__item--future-1 { transform: translateX(50%); }


@media only screen and (max-width: 800px) {
  #main-content{
 padding-top: 25vw;
}

.play-controls {
  width: 80vw;
    margin-top: 20px;
}
.play-controls .play-button {
  width: 70px;
  height: 70px;
}
.play-controls .text-24 {
  font-size: 42px;
}

#main-content{
  height: auto;
}
#about-us-main #social-media  {
  position: absolute!important;
}

.header {
    height: 0px;
    overflow: visible;
}

.header img{
  margin: 15px 0 0 5px;
      height: 5vw;
      width: auto;
}
  .proshowcar img{
    height: 280px;
    width: 280px;
  }
  .proshowcar h1{
    font-size: 35px;
    color: #f21840 ;

  }
  .proshowcar h4{
    font-size: 18px;
    color: black;
  }
  .homepage{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

.but_div{
  padding-top: 2vw;
  padding-bottom: 15vw;

   
}
  
.but_div img{
width:45%;
height:45%; 
margin-left: auto;
margin-right: auto;
display: block; 
}

  .socialmedia {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    flex-direction: row;
  }
}

.flipster--infinite-carousel .flipster__container,
    .flipster__item, {
        transition: all 350ms ease-in-out;
        transition-timing-function: cubic-bezier(.56,.12,.12,.98);
    }

   
.flipster--infinite-carousel   .flipster__item__content { transition: inherit; }

    .flipster__item {
        position: absolute;
        opacity: 0;
        perspective: 800px;
    }

 .flipster--infinite-carousel   .flipster__item--past-2,
    .flipster__item--future-2 {
        opacity: 0.6;
        transition-delay: 90ms;
    }

  .flipster--infinite-carousel   .flipster__item--past-1,
    .flipster__item--future-1 {
        opacity: 0.8;
        transition-delay: 60ms;
    }

    .flipster__item--current {
        opacity: 1;
        transition-delay: 0;
    }

 .flipster--infinite-carousel   .flipster__item--past .flipster__item__content, .flipster__item--future .flipster__item__content { transform: scale(0.4); }

   .flipster--infinite-carousel  .flipster__item--past-2 .flipster__item__content { transform: translateX(-75%) rotateY(45deg) scale(0.6); }
   .flipster--infinite-carousel  .flipster__item--future-2 .flipster__item__content { transform: translateX(75%) rotateY(-45deg) scale(0.6); }

.flipster--infinite-carousel .flipster__item--past-1 .flipster__item__content { transform: translateX(-50%) rotateY(45deg) scale(0.8); }
 .flipster--infinite-carousel   .flipster__item--future-1 .flipster__item__content { transform: translateX(50%) rotateY(-45deg) scale(0.8); }

     .flipster--infinite-carousel.flipster__item--current .flipster__item__content { transform: translateX(0) rotateY(0deg) scale(1); }
}